input[type="submit"], button, input[type="button"], a#forgotusername, a#forgotpassword
{
display: inline-block;
color: #fff !important;
background: #739dcc url(blue_t_100.png) top repeat-x;
background-image: -moz-linear-gradient(top, rgba(80,155,255,1) 0%, rgba(80,155,255,0) 100%);
background-image: -webkit-linear-gradient(top, rgba(80,155,255,1) 0%, rgba(80,155,255,0) 100%);
background-image: -o-linear-gradient(top, rgb(80,155,255) 0%, rgb(80,155,255) 100%);
background-image: -o-linear-gradient(top, rgba(80,155,255,1) 0%, rgba(80,155,255,0) 100%);
background-image: -ms-linear-gradient(top, rgb(80,155,255) 0%, rgb(80,155,255) 100%);
background-image: -ms-linear-gradient(top, rgba(80,155,255,1) 0%, rgba(80,155,255,0) 100%);
background-image: linear-gradient(top, rgb(80,155,255) 0%, rgb(80,155,255) 100%);
background-image: linear-gradient(top, rgba(80,155,255,1) 0%, rgba(80,155,255,0) 100%);
border: 1px solid #369;
text-shadow: 1px 1px 2px rgb(0,0,0);
text-shadow: 1px 1px 2px rgba(0,0,0, .25);
padding: 3px 15px;
text-align: center;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-transform: uppercase;
font-size: .75em;
font-weight: bold;
-moz-box-shadow: inset 0 1px 1px rgba(255,255,255, .5);
-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255, .5);
box-shadow: inset 0 1px 1px rgba(255,255,255, .5);
cursor: pointer;

text-indent: 0px;
letter-spacing: normal;
word-spacing: normal;
margin: 0em;


white-space: pre;
box-sizing: border-box;
-webkit-box-align: center;
font-family: Arial, Tahoma, sans-serif;
}
input[type="submit"]:hover, button:hover, input[type="button"]:hover, a#forgotusername:hover, a#forgotpassword:hover
{
		-moz-box-shadow: inset 0 2px 8px rgba(255,255,255, .5);
		-webkit-box-shadow: inset 0 2px 8px rgba(255,255,255, .5);
		box-shadow: inset 0 2px 8px rgba(255,255,255, .5);
		text-shadow: 0 1px 0 rgb(0,0,0);
		text-shadow: 0 1px 0 rgba(0,0,0, .25);
		background-color: #4a86d7;
}
input[type="submit"]:active, button:active, input[type="button"]:active, a#forgotusername:active, a#forgotpassword:active
{

		background-image: url(blue_t_75.png);
                background-image: -moz-linear-gradient(top, rgba(80,155,255,0.75) 0%, rgba(80,155,255,0) 100%);
                background-image: -webkit-linear-gradient(top, rgba(80,155,255,0.75) 0%, rgba(80,155,255,0) 100%);
                background-image: -o-linear-gradient(top, rgb(80,155,255) 0%, rgb(80,155,255) 100%);
                background-image: -o-linear-gradient(top, rgba(80,155,255,0.75) 0%, rgba(80,155,255,0) 100%);
                background-image: -ms-linear-gradient(top, rgb(80,155,255) 0%, rgb(80,155,255) 100%);
                background-image: -ms-linear-gradient(top, rgba(80,155,255,0.75) 0%, rgba(80,155,255,0) 100%);
                background-image: linear-gradient(top, rgb(80,155,255) 0%, rgb(80,155,255) 100%);
                background-image: linear-gradient(top, rgba(80,155,255,0.75) 0%, rgba(80,155,255,0) 100%);
		-moz-box-shadow: inset 0 -1px 5px rgba(255,255,255, .25);
		-webkit-box-shadow: inset 0 -1px 5px rgba(255,255,255, .25);
		box-shadow: inset 0 -1px 5px rgba(255,255,255, .25);
}        

*
{
margin: 0px;
padding: 0px;
}

a {
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	color: black;
	text-decoration:none;
}

ul
{
list-style:none;
}

nav ul {
    list-style:none;
}

body
{
	color: #ffffff;
    font-family: "trebuchet ms", "monaco", "arial", "verdana", sans-serif; 
    font-size:95%;
}

div#hide
{
   width:100%;
   height: 100%;
   display: none; 
}


h1
{
font-family: 'ClarendonRoman',Helvetica, Geneva;
text-align:center;
}
hr
{
border: 1px solid;
}

#wrapper{
	height:100%;
	width:100%;
        margin: 0px;
        padding: 0px;
}

#headerbar
{
width:100%;
height:20%;
min-width:1100px;
min-height:69px;
text-align:right;
background: url("./images/subbg.jpg") repeat-x;
color: #b4ccd2;
}


nav {
	float: right;
	position: relative;
	top: 14px;
	left:-100px;
}

nav ul li {
	float: left;
	padding-left: 14px; 
}

nav ul li a {
	text-transform: uppercase; 
	color: #b4ccd2; 
	text-shadow: #3d5155 1px 1px 1px; 
	font: normal 14px "AvenirBold", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 10px;
	display: block;
}

nav ul li a:hover {
	color: #354649;
	text-shadow: #84afb8 0px 1px 1px;
	-webkit-transition:color 0.2s ease-in, text-shadow 0.2s ease-in;
	-moz-transition:color 0.2s ease-in, text-shadow 0.2s ease-in;
	/*-0-transition:color 0.2s ease-in, text-shadow 0.2s ease-in;*/
	transition:color 0.2s ease-in, text-shadow 0.2s ease-in;
}

/*
#contentwrapper
{
margin-left:5%;
margin-right:5%;
height: 80%;
width:90%;
min-width: 1000px;
display:block;
}*/

#sidepane
{
float: left;
width: 17%;
min-width: 200px;

margin-bottom: 0px;
background: url("./images/sitebg.jpg");
}

#sidepane ul {
	margin-top:20px;
	list-style: none; 
	display: block;  
	float:right;
	min-width: 200px;
	width: 15%;
        
}

#sidepane ul li a:hover { 
	background: #FFF; 
	text-align: right; 
}
#sidepane ul li a {
	padding-left: 30px;
	margin-top:5px;
	margin-bottom:5px;
	padding-top: 5px; 
	padding-bottom: 5px;  
	float: left; 
	width: 140px;
	text-align: right; 
	color:black; 
	text-decoration: none; 
	font-size: 1.0em;
	font-weight:bold;
	text-transform:uppercase; 
	padding-right: 30px;
}
#sidepane ul li a:hover {
	color:#729EA9; 
	text-decoration: none; 
	font-size: 1.0em;
	font-weight:bold;
	text-transform:uppercase; 
	padding-right: 30px;
}


#rightside
{
float: right;
width: 17%;
height: 100%;
min-width: 200px;

margin-bottom: 0px;
background: url("./images/sitebg.jpg");
}

#main
{
    margin-left:5%;
margin-right:5%;
width:90%;
min-width: 1000px;
display:block;
color: black;
margin-bottom: 0px;
background: #F2F2F2;
}

#content
{
z-index:30;
margin-left:17%;
margin-right:17%;
padding:40px;
}



#student
{
    display:inline;
}

#professor
{
    display: none;
}




label
	{
	float:left;
	width:200px;
	text-align:right;
	margin-right:20px;
	}
	
	input[type="checkbox"], input[type="text"], input[type="select"],input[type="password"]
	{
	float:left;
	margin-right:20px;
	width:200px;
	}
	
	select#birthday_day, select#birthday_month, select#birthday_year
	{
	float:left;
	margin-right:100px;
	}
        
        .error
        {
            float:left;
        margin-left:240px;
        padding: 0px 0px 10px 21px;
        background: url('./images/errow.png') no-repeat 0 0;
        }
	
	/*select#birthday_day, select#birthday_month, select#birthday_year
	{
	float:left;
	margin-right:100px;
	}*/

@font-face {
	font-family: 'ClarendonRoman';
	src: url('./font/clarebtrom-webfont.eot');
	src: url('./font/clarebtrom-webfont.woff') format('woff'), url('./font/clarebtrom-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'AvenirRoman';
	src: url('./font/avenirltstd-roman-webfont.eot');
	src: url('./font/avenirltstd-roman-webfont.woff') format('woff'), url('./font/avenirltstd-roman-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'AvenirBold';
	src: url('./font/avenirltstd-heavy-webfont.eot');
	src: url('./font/avenirltstd-heavy-webfont.woff') format('woff'), url('./font/avenirltstd-heavy-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'SeanRegular';
	src: url('./font/handsean-webfont.eot');
	src: url('./font/handsean-webfont.woff') format('woff'), url('./font/handsean-webfont.ttf') format('truetype');
}


textarea#bio
{
    width: 60%;
}
#logo {
	float: left;
	position: relative;
	top: 3px;
	left:100px;
}

#logo ul li {
	float: left;
	padding-left: 14px; 
}

#logo ul li a {
text-decoration:none;
	text-transform: uppercase; 
	color: #b4ccd2; 
	text-shadow: #3d5155 1px 1px 1px; 
	font: normal 35px "AvenirRoman", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 10px;
	display: block;
}

#logo ul li a:hover {
	color: #354649;
	text-shadow: #84afb8 0px 1px 1px;
	-webkit-transition:color 0.2s ease-in, text-shadow 0.2s ease-in;
	-moz-transition:color 0.2s ease-in, text-shadow 0.2s ease-in;
	-0-transition:color 0.2s ease-in, text-shadow 0.2s ease-in;
	transition:color 0.2s ease-in, text-shadow 0.2s ease-in;
}

#logo ul li:last-child
{
    position: relative;
    top: 43px;
    left:-90px;
}